a { top: .5em; z-index:9; border: none; box-shadow:1px 1px #fff, inset 2px 2px red, 3px 3px rgba(0,0,0,1); }
a:link, a:hover, a:visited, a:focus, a:active {}

a {
	position:absolute; top:0;
	display:block;
	opacity:1;
}
